# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Waf things
.lock-waf*
.waf-*
.waf3-*
build

# Executables
*.exe
*.out
*.app

# Python
__pycache__

.vscode
